*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  color: $white;
  text-decoration: none;
}

body {
  background-color: $white;
}
