.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username,
.password,
.submit {
  padding: 10px;
  border-radius: 12px;
  color: $white;
  background-color: $gray;
  border: none;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  &:focus-visible {
      outline: none;
  }
}

.submit {
  cursor: pointer;
  &:hover {
      background-color: $black;
  }
}
