.tabs {
  display: flex;
  background-color: $white;
  float: left;
}

.profile,
.estimates,
.friends,
.films {
  font-size: 16px;
  color: $black;
  padding: 10px;
  border: 1px solid $white;
  border-bottom: none;
  border-top-right-radius: 20px 20px;
  background-color: $background;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  margin-right: 5px;
  &:hover {
    color: $white;
    background-color: $hoveredBackground;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  }
}

.profile-content,
.estimates-content,
.friends-content,
.films-content {
  position: relative;
  background-size: cover;
  box-shadow: 0 6px 15px $black;
  min-height: calc(100vh - 100px);
  width: 1280px;
  padding: 15px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url(../images/cine-film.jpg);
    background-size: cover;
  }
}
